---
import navData from "../../data/navigation.json";
import versionsData from "../../data/versions.json";
import styles from "./Header.module.scss";
import Show from "../../components/Show.astro";
import {
  NavigationSchema,
  VersionSchema,
  type Mode,
} from "../../content/sassdoc-schema";
import { getConfig } from "../../utils";
import { getLangFromEnv } from "../../i18n";

const lang = getLangFromEnv();
const mode = import.meta.env.MODE as Mode;

const { url: baseUrl } = getConfig(lang, mode);
const { header } = NavigationSchema.parse(navData);
const { versions } = VersionSchema.parse(versionsData);
---

<div class="main-head" class={styles.container}>
  <Fragment set:html={header} />

  <div class={styles.secondaryHead}>
    <section class={styles.secondaryHead__section}>
      <h5 class={styles.secondaryHead__title}>Ignite UI for Angular</h5>

      <Show condition={versions}>
        <select class={styles.secondaryHead__select}>
          {
            versions.map(({ version, url }) => (
              <option value={url}>{version}</option>
            ))
          }
        </select>
      </Show>
    </section>

    <section class={styles.secondaryHead__section}>
      <a
        tabindex="0"
        href=`${baseUrl}/products/ignite-ui-angular`
        class={styles.secondaryHead__button}
        data-type="flat"
        target="_blank"
      >
        Components
      </a>
      <a
        tabindex="0"
        href=`${baseUrl}/products/ignite-ui-angular/getting-started/`
        class={styles.secondaryHead__button}
        data-type="contained"
        target="_blank"
      >
        Get Started
      </a>
    </section>
  </div>
</div>
<script>
  const select = document.querySelector("select");

  select!.addEventListener("change", () => {
    const url = select!.value;
    window.location.assign(url);
  });
</script>
