---
import Show from "../control-flow/Show.astro";
import type { Item } from "../../content/sassdoc-schema";
import styles from "./VersionHistory.module.scss";
import { getLangFromEnv, useTranslations } from "../../i18n/utils";

export interface Props {
  item: Item;
}

const { item } = Astro.props;

const lang = getLangFromEnv();
const t = useTranslations(lang);
---

<Show condition={item.since}>
  <section class={styles.container}>
    <ul>
      <h5 class={styles.title}>{t("history.title")}</h5>
      {
        item.since?.map(({ version, description }) => (
          <li>
            <i class="material-symbols-sharp">commit</i>
            <h5>{version}</h5>
            <p>{description}</p>
          </li>
        ))
      }
    </ul>
  </section>
</Show>
